<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 exchange_box">
      <div class="row">
        <div class="logo-box">
          <%= render partial: "svg/logo"%>
        </div>
      </div>
      <div class="row">
        <%= render "shared/exchange_box" %>
      </div>
    </div>
  </div>
</div>
