
<svg width="200px" height="81,82px" viewBox="152 205 154 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Group-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(152.000000, 206.000000)">
        <g id="Group-2" transform="translate(77.500000, 22.000000) rotate(320.000000) translate(-77.500000, -22.000000) translate(62.000000, 7.000000)">
            <rect id="Rectangle-1" fill="#919191" x="18" y="2" width="13" height="13" rx="1"></rect>
            <rect id="Rectangle-1" fill-opacity="0.441434556" fill="#D8D8D8" x="18" y="17" width="13" height="13" rx="1"></rect>
            <rect id="Rectangle-1" fill="#D8D8D8" x="2" y="17" width="13" height="13" rx="1"></rect>
            <g id="Group" stroke="#979797" stroke-width="3" stroke-linecap="square">
                <path d="M13.5,0 L13.5,13" id="Line"></path>
                <path d="M6.5,6.5 L6.5,19.5" id="Line" transform="translate(6.500000, 13.000000) scale(1, -1) rotate(90.000000) translate(-6.500000, -13.000000) "></path>
            </g>
        </g>
        <text id="Exchange-Online-App" font-family="LucidaGrande-Bold, Lucida Grande" font-size="14" font-weight="bold">
            <tspan x="0.249511719" y="60" fill="#919191">E</tspan>
            <tspan x="8.65771484" y="60" fill="#D8D8D8">xchange </tspan>
            <tspan x="73.0522461" y="60" fill="#919191">O</tspan>
            <tspan x="84.5776367" y="60" fill="#D8D8D8">nline </tspan>
            <tspan x="124.88916" y="60" fill="#919191">A</tspan>
            <tspan x="135.197754" y="60" fill="#D8D8D8">pp</tspan>
        </text>
    </g>
</svg>
