.exchange_box{
  .card{
    border: 0;
    .card-header{
      background-color: #878d99;
      border-radius: 0;
      color: white;
      font-weight: 700;
    }
    .card-block{
      padding-top: 10px;
      .title{
        color: #878d99;
        font-weight: 700;
      }
      .btn-exchange{
        background-color: #5bc0de;
        border-color: #5bc0de;
        border-radius: 0;
      }
    }
  }
}

.change-values-icon {
  display: inline-block;
  width: 20px;
  height: 20px  
}

.loading {
  -webkit-animation-name: rotation;
  animation-name: rotation;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes rotation{
  from{
    transform: rotate(-40deg);
  }
  80% {
    transform: rotate(340deg);
  }
  99.999%{
    transform: rotate(460deg);
  }
  to{
    transform: rotate(-40deg);
  }
}
