body {
  background-color: #b8b8b8;
}

.title-box{
  margin-top: 20%;
  .title{
    color: white;
    text-shadow: 2px 0px 2px #000000;
  }
}

.exchange_box{
  margin: 10px auto;
  .logo-box{
    margin: 0 auto;
    padding-bottom: 10px;
  }
}
